<launch>

<rosparam file="$(find agribot_v4_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="agribot_v4" args="front_right_steer_position_controller front_left_steer_position_controller back_right_steer_position_controller back_left_steer_position_controller front_right_drive_position_controller front_left_drive_position_controller back_left_drive_position_controller back_right_drive_position_controller base_twist_position_controller shoulder_position_controller elbow_position_controller wrist_position_controller left_grip_position_controller right_grip_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/agribot_v4/joint_states"/>
</node>

</launch>