<?xml version="1.0" ?>
<robot name="agribot_testing_1" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find agribot_testing_1_description)/urdf/materials.xacro" />
<xacro:include filename="$(find agribot_testing_1_description)/urdf/agribot_testing_1.trans" />
<xacro:include filename="$(find agribot_testing_1_description)/urdf/agribot_testing_1.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.07156701464120785 0.07365356482008388 0.39163104469887844" rpy="0 0 0"/>
    <mass value="33.861613005474375"/>
    <inertia ixx="2.74751" iyy="1.628198" izz="3.065301" ixy="0.000154" iyz="-0.003471" ixz="0.001994"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_attachment_v3_1">
  <inertial>
    <origin xyz="0.019174718787169642 6.512305528172391e-09 -7.423677590712163e-08" rpy="0 0 0"/>
    <mass value="2.8820189071853717"/>
    <inertia ixx="0.020705" iyy="0.010501" izz="0.010501" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.292801 0.298347 -0.1016" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.292801 0.298347 -0.1016" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_attachment_v5_1">
  <inertial>
    <origin xyz="0.019183969768565068 2.903729202086147e-07 -3.506957667459565e-07" rpy="0 0 0"/>
    <mass value="2.8568879657816306"/>
    <inertia ixx="0.020703" iyy="0.0105" izz="0.0105" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.292401 -0.446406 -0.104574" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.292401 -0.446406 -0.104574" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_attachment_v5_2">
  <inertial>
    <origin xyz="-0.019183615061750148 1.69434790198153e-07 4.0447718419045486e-07" rpy="0 0 0"/>
    <mass value="2.8568879657816306"/>
    <inertia ixx="0.020703" iyy="0.0105" izz="0.0105" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.148786 0.298858 -0.102987" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0.148786 0.298858 -0.102987" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_attachment_v5_3">
  <inertial>
    <origin xyz="-0.019183615061734244 -1.9269387752096634e-09 -9.642944184817814e-08" rpy="0 0 0"/>
    <mass value="2.8568879657816306"/>
    <inertia ixx="0.020703" iyy="0.0105" izz="0.0105" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.148786 -0.446266 -0.104548" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0.148786 -0.446266 -0.104548" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/wheel_attachment_v5_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="ydlidar_x4_v1_1">
  <inertial>
    <origin xyz="-3.226465864203387e-07 -0.001706245476819579 0.020201581369696076" rpy="0 0 0"/>
    <mass value="1.1515616542314233"/>
    <inertia ixx="0.000861" iyy="0.000489" izz="0.000987" ixy="-0.0" iyz="0.000148" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.072008 -0.323569 -0.556385" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/ydlidar_x4_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="-0.072008 -0.323569 -0.556385" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://agribot_testing_1_description/meshes/ydlidar_x4_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 3" type="continuous">
  <origin xyz="0.292801 -0.298347 0.1016" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_attachment_v3_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="Revolute 5" type="continuous">
  <origin xyz="0.292401 0.446406 0.104574" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_attachment_v5_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
</joint>

<joint name="Revolute 6" type="continuous">
  <origin xyz="-0.148786 -0.298858 0.102987" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_attachment_v5_2"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 7" type="continuous">
  <origin xyz="-0.148786 0.446266 0.104548" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_attachment_v5_3"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="0.072008 0.323569 0.556385" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="ydlidar_x4_v1_1"/>
</joint>

</robot>
